@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1C22;

  --primary-bg: #1A1C22;
  --secondary-bg: #121418;
  --card-bg: #23262D; 

  --accent-color: #818CF8;
  --second-color: #FFFFFF;
  --navbar-color: #D1D5DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --monserrat: var(--font-montserrat);
  --monrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-bg);
    --foreground: var(--second-color);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--monserrat);
}