@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #ffffff;
  --foreground: #1A1C22;

  --primary-bg: #1A1C22;
  --secondary-bg: #121418;
  --secondary-bg-opacity: #30384733;
  --card-bg: #23262D;

  --accent-color: #818CF8;
  --second-color: #FFFFFF;
  --third-color: #A5B4FC;
  --navbar-color: #D1D5DB;
  --star-color: #FFFF00;

  --block-shadow: 4px 4px 12px 0px rgba(255, 255, 255, 0.3);

  --block-padding: clamp(90px,10vw,150px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --monserrat: var(--font-montserrat);
  --monrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary-bg);
    --foreground: var(--second-color);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

html {
  scroll-behavior: smooth;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: var(--monserrat);
}

main {
  padding-top: clamp(90px, 10vw, 120px);
}